<h1>Payment for <%= @business.name %></h1>
<br>
<%= render "form", business: @business, transaction: @transaction %>

<br>

<div>
  <%= link_to "Check business last transactions", business_transactions_path(@business) %>
</div>
