<h1>Your Accounts</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Account Number</th>
    <th scope="col">Type</th>
    <th scope="col">Balance</th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each_with_index do |account, i| %>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= link_to account.account_number, account_path(account) %></td>
      <td><%= account.account_type %></td>
      <td><%= account.balance %></td>
    </tr>
  <% end %>
  </tbody>
</table>
